body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: 		#000080;
  color: #ffffff;
  border-top: 1px dashed #ffffff;
}
/* Todo I need to figure out what color is controlling because it does not seem to have a effect on the font color  */
.past {
  background-color: #87afd7;
  color: white; 
}

.present {
  background-color: #00af00;
  color: white;
}

.future {
  background-color: 	#ffffaf;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:#000080;
  color: white;
 
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
